.menuItem {
  max-width: 400px;
  text-align: center;
  padding: 0 20px;
}
.menuItem img {
  width: 80%;
  max-width: 128px;
  margin: auto;
}
.menuItem h4 {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}
@media (max-width: 991px) {
  .menuItem img {
    max-width: 160px;
    margin: auto;
  }
}

@media (max-width: 767px) {
  .menuItem h4 {
    font-size: 18px;
  }
  .menuItem {
    padding: 0 10px;
  }
}
