.menu-slider .slick-next {
  right: 50px;
}
.menu-slider .slick-prev {
  left: 30px;
  z-index: 10;
}
.menu-slider .slick-prev::before,
.menu-slider .slick-next:before {
  font-size: 50px;
  opacity: 1;
}

@media (max-width: 767px) {
  .menu-slider .slick-prev::before,
  .menu-slider .slick-next:before {
    font-size: 35px;
  }

  .menu-slider .slick-prev,
  .menu-slider .slick-next {
    top: calc(100% + 40px);
    right: 35%;
  }
  .menu-slider .slick-prev {
    left: 35%;
  }
}
